:root{
    --font:monospace;
    --black1:#242325;
    --white1:#F7F4F3;
    --purple1:#9070fc;
    --purple2:#8D86C9;
    --purple3:#242038;

    --square-size: 180px;

}

body{
    font-family:var(--font);
    background-color: var(--black1);

    
}

#background-div{
    border-top: #8e81ff solid 8px;
    width: 100%;
    top:0;
    left:0;
    position:absolute;
}

.body-div{
    width: 50%;
    margin:auto;

    display: flex;
    align-items: center;
    justify-content: center;

    /* border: 2px solid white; */
}

#hdr{
    margin-top:25px;
    max-height: 100px;
    min-width: none;
}

.title{
    font-size: 65px;
    margin-left: 15px;
    
}

#title1{
   color:#8e81ff;
  
}

#title2{
    color:var(--white1);
}

.icon-square{
    background-color: #9070fc;
    align-self: center;
    justify-self: center;
    --size: 25px;
    width: var(--size);
    height:var(--size);
    
}

.icon-square:nth-child(even){
    background-color: white;
    --size: 17.5px;
    width: var(--size);
    height:var(--size);
}

.square:nth-child(2){align-self:flex-start;}
.square:nth-child(4){justify-self: flex-start;}
.square:nth-child(6){justify-self: flex-end;}
.square:nth-child(8){align-self:flex-end;}


#icone-container{
    --size:100px;
    height: var(--size);
    width: var(--size);
    min-width: var(--size);
    min-height: var(--size);

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    
    align-content: space-around;
    justify-content: space-around;
} 

#game-container{
    --gap: 60px;
    display:grid;
    /* 9.6vw 18.5vh */
    grid-template-columns: repeat(4, min-content);
    grid-template-rows: repeat(3, min-content);
    
    

    /* column-gap: var(--gap);
    row-gap: var(--gap); */
    
    align-content: space-between;
    justify-content: space-between;

    margin-top: 100px;
    
    --size-adjust: 100px;
    --height: calc(calc(var(--square-size) * 3) + var(--size-adjust));
    --width:calc(var(--height) + calc(var(--square-size) + var(--size-adjust)));
    height: var(--height);
    width: var(--width);
    max-height: var(--height);
    max-width: var(--width);
    
}

.square-div{
    display: block;
    position: relative;
}



.square{
    --test: 180px;
    /* width: var(--square-size);
    height: var(--square-size); */
    
    width: var(--test);
    height: var(--test);
    background-color: #8e81ff;
    margin: 0px;
    transition-property: background-color;
    transition-duration: 0.2s;
}

.square:hover{
    position:absolute;
    --test2:200px;
        width: var(--test2);
    height: var(--test2);
    margin-left: -5.5%;
    margin-top: -55.5%;

    background-color: #453d6a;

}

.image{
    width:100%;
    height:100%;
    filter:hue-rotate(210deg);
    transition-property: filter;
    transition-duration: 0.2s;
    display: none;
}

.image:hover{
    
    filter:hue-rotate(220deg);
}